
.ipynb_checkpoints/
__pycache__/
.idea/
.vscode/

# private stuff
results/

*catboost_info/

*.png
*.jpg
*.jpeg
*.csv
*.log


# docs
*build/
docs/source/auto_examples/
docs/source/gen_modules/
docs/source/sg_execution_times.rst

aqua_fetch/data/